.body{
    background-color: #00CFA5;
}
.form{
    background-color: white;
    height: 500px;
    width: 400px;
    margin: auto;
    border: 1px solid black;
   box-sizing: border-box;
   
}
.form1{
    color: #60C4C8;
    padding-top: 20px;
    text-align: center;
    
}
.button{
    background-color: #cbede6;
    margin-bottom: 10px;
    margin-left: 73px;
    border-radius: 100px;
    height: 30px;
    width: 200px;
   

}
.email{ margin-left: 100px;
    
}

.password{margin-left: 100px;
    
}
.name{
    margin-left: 100px;
}
.country{
    margin-left: 100px;
}
.number{
    margin-left: 100px;
}
.forget{
    padding-left: 160px;
}
.option{
    text-align: center;
}
.google{
    height: 50px;
    width: 50px;
    margin-left: 100px;
}
.facebook{
    height: 50px;
    width: 50px;
}
.twitter{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.label{
    margin-left: 100px;
}
